Updated_Node_Red_Flow.json
[{"id":"d2a3279f.578f78","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"df95ac94.e91e2","type":"function","z":"d2a3279f.578f78","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":280,"wires":[["4ee02f83.a6b05","52253ae5.f75024"]],"l":false},{"id":"a374115c.e1c5e","type":"function","z":"d2a3279f.578f78","name":"bot","func":"\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":279,"wires":[["23c860bf.2ffdf","de82c0d6.6408f"]],"l":false},{"id":"23c860bf.2ffdf","type":"debug","z":"d2a3279f.578f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610.600058555603,"y":349.0000066757202,"wires":[],"l":false},{"id":"b3b94f58.f1e57","type":"ui_form","z":"d2a3279f.578f78","name":"","label":"","group":"8902270b.3a5b08","order":2,"width":0,"height":0,"options":[{"label":"enter text here","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":134,"y":293,"wires":[["df95ac94.e91e2"]],"l":false},{"id":"4ee02f83.a6b05","type":"watson-conversation-v1","z":"d2a3279f.578f78","name":"chatbot","workspaceid":"49f75843-7cdc-4037-8dc0-4fce6864ae1b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/50e10cf8-38e7-4bd4-bcbb-f3aa332f2216","timeout":"","optout-learning":false,"x":378,"y":89.79998779296875,"wires":[["a374115c.e1c5e"]]},{"id":"54a59a49.a97064","type":"inject","z":"d2a3279f.578f78","name":"","topic":"hi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":100,"wires":[["4ee02f83.a6b05"]],"l":false},{"id":"52253ae5.f75024","type":"ui_text","z":"d2a3279f.578f78","group":"8902270b.3a5b08","order":3,"width":"7","height":"2","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":235,"y":380,"wires":[],"l":false},{"id":"de82c0d6.6408f","type":"ui_text","z":"d2a3279f.578f78","group":"8902270b.3a5b08","order":3,"width":"7","height":"2","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":655,"y":240,"wires":[],"l":false},{"id":"8902270b.3a5b08","type":"ui_group","z":"","name":"Coversation","tab":"f36badad.0a3df","order":1,"disp":true,"width":"7","collapse":false},{"id":"f36badad.0a3df","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]